 HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main/
!/src/test/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**.log
*.gz

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
'.idea'
'.log'
'*.mvn'
app-edoo-server/.mvn
app-edoo-server/mvnw
app-edoo-server/mvnw.cmd
app-edoo-server/target
app-edoo-server/web
app-edoo-server/app-edoo-server.iml
node_modules/**.idea
spring_app_log_file.log
node_modules/**.idea.log
spring_app_log_file.log
